.row.proximos-viajes.mt-5
    each joyas in joya
        a(
            href=`/joyas/${joyas.slug}`
            class="col-md-6 col-lg-4 mb-4 d-flex text-decoration-none text-dark"
        )
            .card.text-center.align-items-center.p-3.w-100.h-100
                img(
                    src=`/img/${joyas.imagen}`
                    alt=joyas.nombre
                    style="width:150px; height:150px; object-fit:contain;"
                    class="mb-3"
                    class="mb-3"
                )
                h3.mt-2= joyas.nombre
                p.mb-1 #{joyas.tipo} - #{joyas.material}
                p.mb-1 Precio: $#{joyas.precio}
                p.mt-auto Stock: #{joyas.stock} disponibles
